<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grocery.shopping">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eweds">
        <activity
            android:name="com.grocery.shopping.Activity.Checkout"
            android:exported="true" />
        <activity
            android:name="com.grocery.shopping.Activity.PaymentSelect"
            android:exported="true" />
        <activity
            android:name="com.grocery.shopping.Activity.Cart"
            android:exported="true" />
        <activity
            android:name="com.grocery.shopping.Activity.BlogDetails"
            android:exported="true" />
        <activity
            android:name="com.grocery.shopping.Activity.UserSignUp"
            android:exported="true" />
        <activity
            android:name="com.grocery.shopping.Activity.VideoActivity"
            android:exported="true" />
        <activity
            android:name="com.grocery.shopping.Activity.ShortList"
            android:exported="true" />
        <activity
            android:name="com.grocery.shopping.Activity.FreeListBusiness"
            android:exported="true" />
        <activity
            android:name="com.grocery.shopping.Activity.ServiceProvider"
            android:exported="true" />
        <activity
            android:name="com.grocery.shopping.Activity.City_Select"
            android:exported="true" />
        <activity
            android:name="com.grocery.shopping.Activity.Vender_Category"
            android:exported="true" />
        <activity
            android:name="com.grocery.shopping.Activity.Albmus_Activity"
            android:exported="true" />
        <activity
            android:name="com.grocery.shopping.Activity.SendMessage"
            android:exported="true" />
        <activity
            android:name="com.grocery.shopping.Activity.ProductDetaislActivity"
            android:exported="true" />
        <activity
            android:name="com.grocery.shopping.Activity.LoginActivity"
            android:exported="true" />
        <activity
            android:name="com.grocery.shopping.Activity.CatergoryFullListActivity"
            android:exported="true" />
        <activity
            android:name="com.grocery.shopping.Activity.DashBoard"
            android:exported="true" />
        <activity
            android:name="com.grocery.shopping.Activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>